.rotate-img{
    border-radius: 8px;
    animation: move 2s infinite linear;
}

@keyframes move{
    from { 
        transform: rotate(0deg); 
    }
    to  { 
        transform: rotate(360deg); 
    }
}