@font-face {
    /* font-family: 'Arial Nova', sans-serif; */
    font-family: 'Arial Nova';
    src: local('Arial Nova Regular'), local('Arial-Nova-Regular'),
    url('ArialNova.woff2') format('woff2'),
    url('ArialNova.woff') format('woff'),
    url('ArialNova.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Nova';
    src: local('Arial Nova Regular'), local('Arial-Nova-Regular'),
        url('ArialNova.woff2') format('woff2'),
        url('ArialNova.woff') format('woff'),
        url('ArialNova.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
  font-family: 'Arial Nova';
  src: local('Arial Nova Regular'), local('Arial-Nova-Regular'),
        url('ArialNova.woff2') format('woff2'),
        url('ArialNova.woff') format('woff'),
        url('ArialNova.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Nova';
  src: local('Arial Nova Regular'), local('Arial-Nova-Regular'),
  url('ArialNova.woff2') format('woff2'),
  url('ArialNova.woff') format('woff'),
  url('ArialNova.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Nova';
  src: local('Arial Nova Regular'), local('Arial-Nova-Regular'),
        url('ArialNova.woff2') format('woff2'),
        url('ArialNova.woff') format('woff'),
        url('ArialNova.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Nova';
  src: local('Arial Nova Regular'), local('Arial-Nova-Regular'),
        url('ArialNova.woff2') format('woff2'),
        url('ArialNova.woff') format('woff'),
        url('ArialNova.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Nova';
  src: local('Arial Nova Regular'), local('Arial-Nova-Regular'),
        url('ArialNova.woff2') format('woff2'),
        url('ArialNova.woff') format('woff'),
        url('ArialNova.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
